<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_user_show', {'username': app.user.getUsername}) }}">
                    {% trans with { '%username%': app.user.getUsername() } from 'FOSUserBundle' %}layout.logged_in_as{% endtrans %}
                </a> |
                <a href="{{ path('_security_logout') }}">
                    {% trans from 'FOSUserBundle' %}layout.logout{% endtrans %}
                </a>
            {% else %}
                <a href="{{ path('_security_login') }}">{% trans from 'FOSUserBundle' %}layout.login{% endtrans %}</a> |
                <a href="{{ path('fos_user_user_new') }}">{% trans from 'FOSUserBundle' %}layout.register{% endtrans %}</a>
            {% endif %}
        </div>

        {% for key, flash in app.session.getFlashes() %}
        <div class="{{ flash }}">
            {% trans from 'FOSUserBundle' %}key{% endtrans %}
        </div>
        {% endfor %}

        <div>
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
